.jumbotron {
  background: url('/images/ban-hero.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.logo-link {
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 1;
}

/* Ajustez la taille selon vos besoins */
.logo {
  width: 100px;
  height: auto;
}
